<tr>
  <form 
  hx-post="{% url 'budgetTool:product_price_edit' pk=item.id fk=vendor.id %}" 
  hx-on="htmx:afterRequest: window.location.reload(true)"
  hx-target="this"
  class="text-nowrap">
      {% csrf_token %}
        <td>{{form.item}}</td>
        <td>{{form.cost}}</td>
        <td>{{form.list}}</td>
        <td></td>
        <td>{{form.note}}</td>
        <td>
          <button type="submit" class="btn btn-outline-success">Save</button>  
          <button type="button"class="btn btn-outline-light" 
              hx-on="click: window.location.reload(true)"
            >Cancel</button>
        </td>
      </tr>
  </form>
</tr>