<form 
hx-post="{% url 'budgetTool:create_product_price' fk=vendor.id %}" 
hx-on="htmx:afterRequest: window.location.reload(true)"
hx-target="this">
    {% csrf_token %}
    <tr>
      <td>{{form.item}}</td>
      <td>{{form.cost}}</td>
      <td>{{form.list}}</td>
      <td>{{form.note}}</td>
      <td><button type="submit" class="btn btn-outline-success">Save</button></td>
      <td>
        <button type="button"class="btn btn-outline-light" 
          hx-on="click: this.closest('form').remove()"
        >Cancel</button>
      </td>
    </tr>
    <hr>
</form>

