{% load humanize %}
<!doctype html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <script type="text/javascript" src="{% static 'main.js'%}"></script>

  <body>
      <a href="/budgetTool/">Go back to Project lists</a>
      <hr>
      <h1>Bill of Materials</h1>
      <table>
        <tr>
          <th>Type</th>
          <th>List</th>
          <th>Cost</th>
        </tr>
        {% for line in bom %}
          <tr>
            <td>{{ line.name }}</td>
            <td>{{ line.category }}</td>
            <td>{{ line.quantity }}</td>
          </tr>
        {% endfor %}
      </table>



      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="table-primary" scope="col">#</th>
            <th class="table-primary" scope="col">First</th>
            <th class="table-primary" scope="col">Last</th>
            <th class="table-primary" scope="col">Handle</th>
            <th class="table-primary" scope="col">Handle</th>
            <th class="table-primary" scope="col">Handle</th>
            <th class="table-primary" scope="col">Handle</th>
            <th class="table-primary" scope="col">Handle</th>
            <th class="table-primary" scope="col">Handle</th>
            <th class="table-primary" scope="col">Handle</th>
            <th class="table-primary" scope="col">Handle</th>
            <th class="table-primary" scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        
          
        </tbody>
      </table>

      <div>
        <div>
            <input onclick="add_row('table')" type="button" class="btn btn-info" value="+ 添加">
        </div>
        <table id="table" class="table"></table>
        <div>
            <input id="save" type="button" class="btn btn-info" value="点我提交">
        </div>
      </div>
      

  </body>
</html>