{% load humanize %}
<!doctype html>
{% comment %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endcomment %}

{% load static %}
{% load mathfilters %}
{% load custom_filters %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>

  <body style="margin-left: 20px; margin-right: 20px;">
    <div id="quoteValue" data-quote="{{ project.quote_BOM }}"></div>
    <div id="quoteService" quoteService="{{project.quote_Service}}"></div>
    <div id="adjustComplexityBOM" adjustComplexityBOM="{{project.adjust_BOM}}"></div>
    <div id="adjustComplexityService" adjustComplexityService="{{project.adjust_Service}}"></div>
    <div id="projectPk" projectPk="{{project.pk}}"></div>

    
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/budgetTool/">Back</a>
        
       
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            {% if user|user_belongs_to_group:'Admin, Finance' %}
            <li class="nav-item">
              <a class="nav-link" onclick="projectDelete('{{ project.pk }}')" role="button">Delete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'budgetTool:download_excel' pk=project.pk %}">Export to Excel</a>
            </li>
            {% endif %}
          </ul>
          
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'budgetTool:change_password' %}">Edit password</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" href="{% url 'budgetTool:logout_user' %}">Logout</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>

      <div id="projectName">
        {% if user|user_belongs_to_group:'Admin, Finance' %}
        <h1 
        hx-get="{% url 'budgetTool:editProject' pk=project.pk%}"
            hx-target="this"
            hx-params="name"
            hx-swap="outerHTML"
            hx-boost="true">
        {{project.name}}</h1>
        {% else %}
        <h1>{{project.name}}</h1>
        {% endif %}
      </div>

      {% if user|user_belongs_to_group:'Account Manager' %}
      <!-- <h1>test for account manager</h1> -->
      {% include 'access/accountManager.html' %}

      {% elif user|user_belongs_to_group:'Engineering Lead' %}
      <!-- <h1>test for engineering lead</h1> -->
      {% include 'access/engineeringLead.html' %}

      {% elif user|user_belongs_to_group:'Admin, Finance' %}
      <!-- <h1>test for admin</h1> -->
      {% include 'access/admin.html' %}

      {% elif user|user_belongs_to_group:'Engineer' %}
      <!-- <h1>test for engineer</h1> -->
      {% include 'access/engineer.html' %}

      {% else %}
      <!-- <h1>test for other</h1> -->

      {% endif %}

        <script type="text/javascript" src="{% static 'main.js'%}"></script>
  </body>
</html>