{% load humanize %}
<!doctype html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% load mathfilters %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'main.js'%}"></script>
    
  </head>
  <body>
    <div class="btn-group">
      <a href="/budgetTool/"class="btn btn-primary active" aria-current="page">Go back to Project lists</a>
      <a href="/budgetTool/{{project.pk}}/update" class="btn btn-primary">Update</a>
      <a href="/budgetTool/{{project.pk}}/delete" class="btn btn-primary">Delete</a>
    </div>

      <hr>
      <h1>{{project.name}}</h1>

          <!-- <td>{{project.bom.total_bom_cost|intcomma }}</td>
          <td>{{project.service.total_service_cost|intcomma }}</td> -->
     
      
      <div>
      <table class="table table-hover table-bordered text-nowrap" id="billTable">
        <thead>
          <tr>
            <th class="table-primary" scope="col">#</th>
            <th class="table-primary" scope="col">Part/Item</th>
            <th class="table-primary" scope="col">Cost(Estimate)</th>
            <th class="table-primary" scope="col">Sales Price</th>
            <th class="table-primary" scope="col">Quantity</th>
            <th class="table-primary" scope="col">Total Cost(Estimate)</th>
            <th class="table-primary" scope="col">Total Sale</th>
            <th class="table-primary" scope="col">Supplier</th>
            <th class="table-primary" scope="col">Cost (Actual)</th>
            <th class="table-primary" scope="col">Responsible</th>
            <th class="table-primary" scope="col">Description</th>
            <th class="table-primary" scope="col">Notes</th>
            <th class="table-primary" scope="col">Quote 1</th>
            <th class="table-primary" scope="col">Vender 1</th>
            <th class="table-primary" scope="col">Quote 2</th>
            <th class="table-primary" scope="col">Vender 2</th>
            <th class="table-primary" scope="col">Quote 3</th>
            <th class="table-primary" scope="col">Vender 3</th>
          </tr>
        </thead>

          
          <tbody>
            <tr>
              <td></td>
              <td class="text-nowrap"><strong>CUSTOM HARDWARE</strong></td>
            </tr>
            

            {% for line in custom %}
            
            <tr>
              <td></td>
              <td><a href="/budgetTool/{{project.pk}}/{{line.pk}}/bom">{{ line.name }}</a></td>
              <td> {{line.estimate_cost|intcomma }}</td>
              <td> {{line.sales_price|intcomma }}</td>
              <td>{{ line.quantity }}</td>
              <td id="lineCost">
                  {%with totalCost=line.quantity|mul:line.estimate_cost %}
                    {{totalCost|intcomma}}
                  {%endwith%}
              </td>
              <td>
                {%with totalSale=line.quantity|mul:line.sales_price %}
                    {{totalSale|intcomma}}
                {%endwith%}
              </td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost|intcomma }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}

            <tr>
              <td></td>
              <td class="text-nowrap"><strong>UMA SOLUTION</strong></td>
            </tr>
            {% for line in uma %}
            <tr>
              <td></td>
              <td><a href="/budgetTool/{{project.pk}}/{{line.pk}}/bom">{{ line.name }}</a></td>
              <td> {{line.estimate_cost|intcomma }}</td>
              <td> {{line.sales_price|intcomma }}</td>
              <td>{{ line.quantity }}</td>
              <td>
                  {%with totalCost=line.quantity|mul:line.estimate_cost %}
                    {{totalCost|intcomma}}
                  {%endwith%}
              </td>
              <td>
                {%with totalSale=line.quantity|mul:line.sales_price %}
                    {{totalSale|intcomma}}
                {%endwith%}
              </td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost|intcomma }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}

            <tr>
              <td></td>
              <td class="text-nowrap"><strong>CONTROLS</strong></td>
            </tr>
            {% for line in controls %}
            <tr>
              <td></td>
              <td><a href="/budgetTool/{{project.pk}}/{{line.pk}}/bom">{{ line.name }}</a></td>
              <td> {{line.estimate_cost|intcomma }}</td>
              <td> {{line.sales_price|intcomma }}</td>
              <td>{{ line.quantity }}</td>
              <td>
                  {%with totalCost=line.quantity|mul:line.estimate_cost %}
                    {{totalCost|intcomma}}
                  {%endwith%}
              </td>
              <td>
                {%with totalSale=line.quantity|mul:line.sales_price %}
                    {{totalSale|intcomma}}
                {%endwith%}
              </td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost|intcomma }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}

            <tr>
              <td></td>
              <td class="text-nowrap"><strong>SOFTWARE</strong></td>
            </tr>
            {% for line in software %}
            <tr>
              <td></td>
              <td><a href="/budgetTool/{{project.pk}}/{{line.pk}}/bom">{{ line.name }}</a></td>
              <td> {{line.estimate_cost|intcomma }}</td>
              <td> {{line.sales_price|intcomma }}</td>
              <td>{{ line.quantity }}</td>
              <td>
                  {%with totalCost=line.quantity|mul:line.estimate_cost %}
                    {{totalCost|intcomma}}
                  {%endwith%}
              </td>
              <td>
                {%with totalSale=line.quantity|mul:line.sales_price %}
                    {{totalSale|intcomma}}
                {%endwith%}
              </td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost|intcomma }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}

            <tr>
              <td></td>
              <td class="text-nowrap"><strong>PROTECTION PLANS</strong></td>
            </tr>
            {% for line in protection %}
            <tr>
              <td></td>
              <td><a href="/budgetTool/{{project.pk}}/{{line.pk}}/bom">{{ line.name }}</a></td>
              <td> {{line.estimate_cost|intcomma }}</td>
              <td> {{line.sales_price|intcomma }}</td>
              <td>{{ line.quantity }}</td>
              <td>
                  {%with totalCost=line.quantity|mul:line.estimate_cost %}
                    {{totalCost|intcomma}}
                  {%endwith%}
              </td>
              <td>
                {%with totalSale=line.quantity|mul:line.sales_price %}
                    {{totalSale|intcomma}}
                {%endwith%}
              </td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost|intcomma }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}


          </tbody>
      </table>

        <a href="/budgetTool/{{project.pk}}/createbom" target="_blank">
          <button>Create a new bom item</button>
        </a>       
      <hr>
      </div>



<!-- summry table for bom -->

<table class="table table-hover table-bordered w-auto">
  <thead>
    <tr>
      <th class="table-primary text-center" colspan="9">Total BOM</th>
    </tr>

    <tr>
      <th class="table-primary" scope="col"></th>
      <th class="table-primary" scope="col"></th>
      <th class="table-primary" scope="col">Cost Estimate</th>
      <th class="table-primary" scope="col">Actual Cost</th>
      <th class="table-primary" scope="col">List</th>
      <th class="table-primary" scope="col">List Adjusted</th>
      <th class="table-primary" scope="col">Margin Est</th>
      <th class="table-primary" scope="col">Margin Adj</th>
      <th class="table-primary" scope="col">Margin Actual</th>
    </tr>
  </thead>

    <tbody>
      <tr>
        <td>Adjusted for Complexity</td>
        <td>{{project.adjust_bom|mul:100}}% </td>
        <td>$<span id="totalCostEstimate"></span></td>
        <td>$<span id="totalCostActual"></span></td>
        <td>$<span id="totalSale"></span></td>
        <td>$<span id="listAdjusted"></span></td>
        <td><span id="marginEst"></span>%</td>
        <td><span id="marginAdj"></span>%</td>
        <td><span id="marginActual"></span>%</td>
      </tr>

      
      <tr>
        <td>Quoted</td>
        <td>{{project.quote|intcomma}}</td>
      </tr>

      <script>
        function calculateColumnSum(columnIndex) {
            var table = document.getElementById("billTable");
            var sum = 0;
      
            for (var i = 1; i < table.rows.length; i++) {
                var cell = table.rows[i].cells[columnIndex];
                if(cell){
                  var number = parseInt(cell.innerHTML.replace(/,/g, ''));
                  sum+=number
                }
            }
      
            return sum;
        }
        
        var adjust=parseFloat("{{project.adjust_bom}}")
        var quote=parseInt("{{project.quote}}")
        
        var totalCostEstimate = calculateColumnSum(5);
        var totalCostActual = calculateColumnSum(8);
        var totalSale=calculateColumnSum(6);
        var listAdjusted=Math.round(totalSale*(1+adjust))
        var marginEst=(1-totalCostEstimate/totalSale)*100
        var marginAdj=(1-totalCostEstimate/listAdjusted)*100
        var marginActual=(1-totalCostActual/quote)*100
      
        document.getElementById("totalCostEstimate").innerText = totalCostEstimate.toLocaleString();
        document.getElementById("totalCostActual").innerText = totalCostActual.toLocaleString();
        document.getElementById("totalSale").innerText = totalSale.toLocaleString();
        document.getElementById("listAdjusted").innerText = listAdjusted.toLocaleString();//add commas to thousand
        document.getElementById("marginEst").innerText = marginEst.toFixed(2);
        document.getElementById("marginAdj").innerText = marginAdj.toFixed(2);
        document.getElementById("marginActual").innerText = marginActual.toFixed(2);

      </script>





      <!-- service part -->
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="table-primary" scope="col">#</th>
            <th class="table-primary" scope="col">Task</th>
            <th class="table-primary" scope="col">Type</th>
            <th class="table-primary" scope="col">Hours Estimated</th>
            <th class="table-primary" scope="col">Hours Adjusted</th>
            <th class="table-primary" scope="col">Hours Worked</th>
            <th class="table-primary" scope="col">Travel Est</th>
            <th class="table-primary" scope="col">Travel Act</th>
            <th class="table-primary" scope="col">Rate List</th>
            <th class="table-primary" scope="col">Sub Total List</th>
            <th class="table-primary" scope="col">Sub Total Adjusted List</th>
            <th class="table-primary" scope="col">Rate Cost</th>
            <th class="table-primary" scope="col">Sub Total Cost Est</th>
            <th class="table-primary" scope="col">Sub Total Adjusted Cost Est</th>
            <th class="table-primary" scope="col">Cost Act</th>
          </tr>
        </thead>

          <tbody>
            <tr>
              <td></td>
              <td class="text-nowrap"><strong>GENERAL PROJECT</strong></td>
            </tr>

            {% for line in general_service %}
            <tr>
              <td></td>
              <td><a href="/budgetTool/{{project.pk}}/service/{{line.pk}}">{{ line.name }}</a></td>
              <td>{{ line.type }}</td>
              <td>{{ line.hours_estimated }}</td>
              <td></td>
              <td>{{ line.hours_worked }}</td>
              <td></td>
              <td>{{ line.travel_actual }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %}


            <tbody>
              <tr>
                <td></td>
                <td class="text-nowrap"><strong>HARDWARE DEVELOPMENT</strong></td>
              </tr>
              
              {% for line in hardware_service %}
              <tr>
                <td></td>
                <td><a href="/budgetTool/{{project.pk}}/service/{{line.pk}}">{{ line.name }}</a></td>
                <td>{{ line.type }}</td>
                <td>{{ line.hours_estimated }}</td>
                <td></td>
                <td>{{ line.hours_worked }}</td>
                <td></td>
                <td>{{ line.travel_actual }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}

              <tbody>
                <tr>
                  <td></td>
                  <td class="text-nowrap"><strong>SOFTWARE DEVELOPMENT</strong></td>
                </tr>
                
                {% for line in software_service %}
                <tr>
                  <td></td>
                  <td><a href="/budgetTool/{{project.pk}}/service/{{line.pk}}">{{ line.name }}</a></td>
                  <td>{{ line.type }}</td>
                  <td>{{ line.hours_estimated }}</td>
                  <td></td>
                  <td>{{ line.hours_worked }}</td>
                  <td></td>
                  <td>{{ line.travel_actual }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endfor %}

                <tbody>
                  <tr>
                    <td></td>
                    <td class="text-nowrap"><strong>IMPLEMENTATION</strong></td>
                  </tr>
                  
                  {% for line in implementation %}
                  <tr>
                    <td></td>
                    <td><a href="/budgetTool/{{project.pk}}/service/{{line.pk}}">{{ line.name }}</a></td>
                    <td>{{ line.type }}</td>
                    <td>{{ line.hours_estimated }}</td>
                    <td></td>
                    <td>{{ line.hours_worked }}</td>
                    <td></td>
                    <td>{{ line.travel_actual }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  {% endfor %}

                  <tbody>
                    <tr>
                      <td></td>
                      <td class="text-nowrap"><strong>FACTORY ACCEPTANCE TEST</strong></td>
                    </tr>
                    
                    {% for line in factory_test_service %}
                    <tr>
                      <td></td>
                      <td><a href="/budgetTool/{{project.pk}}/service/{{line.pk}}">{{ line.name }}</a></td>
                      <td>{{ line.type }}</td>
                      <td>{{ line.hours_estimated }}</td>
                      <td></td>
                      <td>{{ line.hours_worked }}</td>
                      <td></td>
                      <td>{{ line.travel_actual }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    {% endfor %}

                    <tbody>
                      <tr>
                        <td></td>
                        <td class="text-nowrap"><strong>SHIPPING</strong></td>
                      </tr>
                      
                      {% for line in shipping %}
                      <tr>
                        <td></td>
                        <td><a href="/budgetTool/{{project.pk}}/service/{{line.pk}}">{{ line.name }}</a></td>
                        <td>{{ line.type }}</td>
                        <td>{{ line.hours_estimated }}</td>
                        <td></td>
                        <td>{{ line.hours_worked }}</td>
                        <td></td>
                        <td>{{ line.travel_actual }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      {% endfor %}

                      <tbody>
                        <tr>
                          <td></td>
                          <td class="text-nowrap"><strong>INSTALLATION</strong></td>
                        </tr>
                        
                        {% for line in installation %}
                        <tr>
                          <td></td>
                          <td><a href="/budgetTool/{{project.pk}}/service/{{line.pk}}">{{ line.name }}</a></td>
                          <td>{{ line.type }}</td>
                          <td>{{ line.hours_estimated }}</td>
                          <td></td>
                          <td>{{ line.hours_worked }}</td>
                          <td></td>
                          <td>{{ line.travel_actual }}</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        {% endfor %}

                        <tbody>
                          <tr>
                            <td></td>
                            <td class="text-nowrap"><strong>SITE ACCEPTANCE TEST</strong></td>
                          </tr>
                          
                          {% for line in site_test_service %}
                          <tr>
                            <td></td>
                            <td><a href="/budgetTool/{{project.pk}}/service/{{line.pk}}">{{ line.name }}</a></td>
                            <td>{{ line.type }}</td>
                            <td>{{ line.hours_estimated }}</td>
                            <td></td>
                            <td>{{ line.hours_worked }}</td>
                            <td></td>
                            <td>{{ line.travel_actual }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          {% endfor %}

                          <tbody>
                            <tr>
                              <td></td>
                              <td class="text-nowrap"><strong>TRAINING</strong></td>
                            </tr>
                            
                            {% for line in training_service %}
                            <tr>
                              <td></td>
                              <td><a href="/budgetTool/{{project.pk}}/service/{{line.pk}}">{{ line.name }}</a></td>
                              <td>{{ line.type }}</td>
                              <td>{{ line.hours_estimated }}</td>
                              <td></td>
                              <td>{{ line.hours_worked }}</td>
                              <td></td>
                              <td>{{ line.travel_actual }}</td>
                              <td>
                                {% for item in table %}
                                {% if line.type == item.type%}
                                {% with list=item.list|div:5 %}
                                {{list}}
                                {%endwith%}
                                {% endif %}
                            {% endfor %}
                              </td>
                              <td>
                                
                              </td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            {% endfor %}
          </tbody>
        </table>

        <a href="/budgetTool/{{project.pk}}/createservice" target="_blank">
          <button>Create a new service item</button>
        </a>
        <hr>


  </body>
</html>