{% load humanize %}
<!doctype html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
      <a href="/budgetTool/">Go back to Project lists</a>
      <hr>
      <h1>{{project.name}}</h1>

          <!-- <td>{{project.bom.total_bom_cost|intcomma }}</td>
          <td>{{project.service.total_service_cost|intcomma }}</td> -->
     
      
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="table-primary" scope="col">#</th>
            <th class="table-primary" scope="col">Part/Item</th>
            <th class="table-primary" scope="col">Cost(Estimate)</th>
            <th class="table-primary" scope="col">Sales Price</th>
            <th class="table-primary" scope="col">Quantity</th>
            <th class="table-primary" scope="col">Total Cost(Estimate)</th>
            <th class="table-primary" scope="col">Total Sale</th>
            <th class="table-primary" scope="col">Supplier</th>
            <th class="table-primary" scope="col">Cost (Actual)</th>
            <th class="table-primary" scope="col">Responsible</th>
            <th class="table-primary" scope="col">Description</th>
            <th class="table-primary" scope="col">Notes</th>
            <th class="table-primary" scope="col">Quote 1</th>
            <th class="table-primary" scope="col">Vender 1</th>
            <th class="table-primary" scope="col">Quote 2</th>
            <th class="table-primary" scope="col">Vender 2</th>
            <th class="table-primary" scope="col">Quote 3</th>
            <th class="table-primary" scope="col">Vender 3</th>
          </tr>
        </thead>

          
          <tbody>
            <tr>
              <td></td>
              <td class="text-nowrap"><strong>CUSTOM HARDWARE</strong></td>
            </tr>

            {% for line in custom %}
            <tr>
              <td></td>
              <td>{{ line.name }}</td>
              <td></td>
              <td></td>
              <td>{{ line.quantity }}</td>
              <td></td>
              <td></td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.Notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}

            <tr>
              <td></td>
              <td class="text-nowrap"><strong>UMA SOLUTION</strong></td>
            </tr>
            {% for line in uma %}
            <tr>
              <td></td>
              <td>{{ line.name }}</td>
              <td></td>
              <td></td>
              <td>{{ line.quantity }}</td>
              <td></td>
              <td></td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.Notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}

            <tr>
              <td></td>
              <td class="text-nowrap"><strong>CONTROLS</strong></td>
            </tr>
            {% for line in controls %}
            <tr>
              <td></td>
              <td>{{ line.name }}</td>
              <td></td>
              <td></td>
              <td>{{ line.quantity }}</td>
              <td></td>
              <td></td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.Notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}

            <tr>
              <td></td>
              <td class="text-nowrap"><strong>SOFTWARE</strong></td>
            </tr>
            {% for line in software %}
            <tr>
              <td></td>
              <td>{{ line.name }}</td>
              <td></td>
              <td></td>
              <td>{{ line.quantity }}</td>
              <td></td>
              <td></td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.Notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}

            <tr>
              <td></td>
              <td class="text-nowrap"><strong>PROTECTION PLANS</strong></td>
            </tr>
            {% for line in protection %}
            <tr>
              <td></td>
              <td>{{ line.name }}</td>
              <td></td>
              <td></td>
              <td>{{ line.quantity }}</td>
              <td></td>
              <td></td>
              <td>{{ line.supplier }}</td>
              <td>{{ line.actual_cost }}</td>
              <td>{{ line.responsible }}</td>
              <td>{{ line.description }}</td>
              <td>{{ line.Notes }}</td>
              <td>{{ line.quote_one }}</td>
              <td>{{ line.vender_one }}</td>
              <td>{{ line.quote_two}}</td>
              <td>{{ line.vender_two }}</td>
              <td>{{ line.quote_three }}</td>
              <td>{{ line.vender_three }}</td>
            </tr>
            {% endfor %}


          </tbody>
          
        </table>





  </body>
</html>