
<!doctype html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load custom_filters %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budget Tool</title>
  
  </head>
  <body style="margin-left: 20px; margin-right: 20px;">
  {% include 'navbar.html' %}
  
    
  <div class="col-md-6 offset-md-3">
  {% if user.is_authenticated %}
    
  {% if user|user_belongs_to_group:'Admin, Finance, Account Manager, Engineering Lead' %}
  <a class="btn btn-primary" href="/budgetTool/rate_table" role="button">Rate Table</a>
  <a class="btn btn-primary" href="/budgetTool/price_sheet" role="button">Price Sheet</a>
  <a class="btn btn-primary" href="/budgetTool/create" role="button">Create a new template</a>
  
  <h1>Template lists</h1>

    <ul>
      {% for template in templates %}
        <li>
              <a href="/budgetTool/{{template.pk}}">{{template.name}}</a> 
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  

    <h1>Project lists</h1>

    <ul>
      {% for project in projects %}
        <li>
              <a href="/budgetTool/{{project.pk}}">{{project.name}}</a> 
        </li>
      {% endfor %}
    </ul>

  <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Create a new project
      </button>
      <ul class="dropdown-menu">

        {% for template in templates %}
          <li><a class="dropdown-item" href="{% url 'budgetTool:copy_project' pk=template.pk %}">{{template.name}}</a></li>
        {% endfor %}

      </ul>
    </div>
  {% else %}
    {% include 'budgetTool/user/login.html' %}
  {% endif %}

</div>
  
  </body>
</html>