<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
  </head>

  <body style="margin-left: 20px; margin-right: 20px;">
    {% include 'navbarBack.html' %}
        <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-light">Submit</button>
        </form>
  </body>
</html>