{% load humanize %}
<!doctype html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <script type="text/javascript" src="{% static 'main.js'%}"></script>

  <body>
      <a href="/budgetTool/">Go back to Project lists</a>
      <hr>
      <h1>Rate table</h1>


      <table class="table table-sm table-hover table-bordered w-auto">
        <thead>
          <tr>
            <th class="table-primary" scope="col">Type</th>
            <th class="table-primary" scope="col">List</th>
            <th class="table-primary" scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>

          {% for line in table %}
          <tr>
            <td>{{line.type}}</td>
            <td>{{line.list}}</td>
            <td>{{line.cost}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>



      <table border="1">
        <thead>
            <tr style="background-color: blue;">
                <th>Name</th>
                <th>Age</th>
                <th>Country</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>25</td>
                <td>USA</td>
                <td>FF0000</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>30</td>
                <td>Canada</td>
                <td>00FF00</td>
            </tr>
            <tr>
                <td>Bob</td>
                <td>22</td>
                <td>UK</td>
                <td>0000FF</td>
            </tr>
        </tbody>
    </table>

    <button onclick="saveTableAsExcel()">Save Table as Excel</button>

    <script>
        function saveTableAsExcel() {
            // Select the table element
            const table = document.querySelector('table');

            // Create a data URI for the table content
            const uri = 'data:application/vnd.ms-excel;base64,' + btoa(unescape(encodeURIComponent(table.outerHTML)));

            // Internet Explorer
            if (window.navigator.msSaveBlob) {
                const blob = new Blob([table.outerHTML], { type: 'application/vnd.ms-excel' });
                window.navigator.msSaveBlob(blob, 'my_table.xls');
            }
            // Other browsers
            else {
                const link = document.createElement('a');
                link.href = uri;
                link.download = 'my_table.xls';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    </script>

</body>
</html>



    
  </body>
</html>