{% load humanize %}
<!doctype html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <script type="text/javascript" src="{% static 'main.js'%}"></script>

  <body>
      <a href="/budgetTool/">Go back to Project lists</a>
      <hr>
      <h1>Rate table</h1>


      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="table-primary" scope="col">Type</th>
            <th class="table-primary" scope="col">List</th>
            <th class="table-primary" scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>

          {% for line in table %}
          <tr>
            <td>{{line.type}}</td>
            <td>{{line.list}}</td>
            <td>{{line.cost}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

      

  </body>
</html>