{% load custom_filters %}

<div class="container">
  {% if messages %}
    {% for message in messages %}
      
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
  {% endif %}
</div> 

{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">BudgetTool</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor02">
      
      <ul class="navbar-nav me-auto">
        {% if user|user_belongs_to_group:'Admin, Finance, Account Manager, Engineering Lead' %}
        <li class="nav-item">
          <a class="nav-link" href="/budgetTool/rate_table">Rate Table</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/budgetTool/price_sheet">Price Sheet</a>
        </li>
        {% endif %}
        
      </ul>

      
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" >Welcome, {{user}}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'budgetTool:change_password' %}">Edit password</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'budgetTool:logout_user' %}">Logout</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
{% endif %}
 
