<!-- use view context to pass parameter  -->

<table>
    <tr>
        <td>
            <form
                hx-post="{% url 'budgetTool:service_category_edit' pk=category.id %}"
                hx-on="htmx:afterRequest: window.location.reload(true)"
                style="display: flex; align-items: center;"
                >
                {% csrf_token %}
                <input type="text" name="name" value="{{category.name}}" autofocus>
                <button class="btn btn-success"> Save</button>
                <button class="btn btn-secondary" type="button" onclick="redirectToCurrentPage()" > Cancel</button>
            </form>
        </td>
        
        <!-- <td>
            <button 
                class="btn btn-danger"
                hx-confirm="Are you sure?"
                hx-get="{% url 'budgetTool:bom_category_delete' pk=category.id %}"
                hx-on="htmx:afterRequest: window.location.reload(true)"
                >
                Delete
            </button>
        </td> -->
    </tr>
</table>