{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% load mathfilters %}

<tr>
    <td></td>
    <td>new row added</td>
    <!-- <td>${{BillOfMaterials.estimate_cost|intcomma }}</td>
    <td>${{BillOfMaterials.sales_price|intcomma }}</td>
    <td class="text-center">{{ line.quantity }}</td>
    <td id="lineCost">
        {%with totalCost=BillOfMaterials.quantity|mul:BillOfMaterials.estimate_cost %}
        ${{totalCost|intcomma}}
        {%endwith%}
    </td>
    <td>
      {%with totalSale=BillOfMaterials.quantity|mul:BillOfMaterials.sales_price %}
      ${{totalSale|intcomma}}
      {%endwith%}
    </td>
    <td>{{ BillOfMaterials.supplier }}</td>
    <td>${{ BillOfMaterials.actual_cost|floatformat:2|intcomma }}</td>
    <td>{{ BillOfMaterials.responsible }}</td>
    <td>{{ BillOfMaterials.description }}</td>
    <td>{{ BillOfMaterials.notes }}</td> -->
  </tr>