
<tr>
  <form>
      {% csrf_token %}
    <!-- <td>{{item.id}}</td> -->
    <td>{{bomForm.index}}</td>
    <td>{{ bomForm.name }}</td>
    <td>{{ bomForm.estimate_cost }}</td>
    <td>{{ bomForm.sales_price }}</td>
    <td>{{ bomForm.quantity }}</td>
    <td></td>
    <td></td>
    <td>{{ bomForm.supplier }}</td>
    <td>{{ bomForm.actual_cost }}</td>
    <td>{{ bomForm.Responsible }}</td>
    <td>{{ bomForm.description }}</td>
    <td>{{ bomForm.notes }}</td>
    <td>{{bomForm.bom_category}}</td>
    <!-- <td>{{ bomForm.project }}</td> -->
    <td class="text-nowrap">
      <button 
      class="btn btn-outline-success" 
      hx-post="{% url 'budgetTool:bom_copy' fk=item.project_id pk=item.id %} " 
      hx-include="closest tr"
      hx-on="htmx:afterRequest: window.location.reload(true)"
      >Save</button>
    
      <button class="btn btn-outline-light" onclick="redirectToCurrentPage()" class="btn btn-secondary">Cancel</button>
    </td>
  </form>
</tr>
