<tr>
<form>
    {% csrf_token %}
        <td>{{form.index}}</td>
        <td>{{ form.name }}</td>
        <td>{{ form.type }}</td>
        <td class="text-nowrap">{{ form.isOnSite.label_tag }}{{form.isOnSite}}</td>
        <td>{{ form.hours_estimated }}</td>
        <td></td>
        <td>{{ form.hours_worked }}</td>
        <td></td>
        <td>{{ form.travel_actual }}</td>
        <td>{{ form.category }}</td>
        <!-- <td>{{ form.project }}</td> -->

        <td class="text-nowrap" colspan="8">
          <button 
            class="btn btn-outline-success"
            hx-post="{% url 'budgetTool:service_edit' fk=item.project_id pk=item.id %}"
            hx-include="closest tr"
            hx-on="htmx:afterRequest: window.location.reload(true)"
            >Save
          </button>
          <button type="button" onclick="redirectToCurrentPage()" class="btn btn-outline-light">Cancel</button>
        </td>
      </tr>
</form>
</tr>
