.item-wrapper {
    display: flex;
    align-items: center; 
  }

.handle {
    display: inline-block;
    border-top: 3px solid var(--dark);
    width: 30px;
    cursor: grab;
}
.handle:after, .handle:before {
    display: block;
    content: "";
    padding-top: 15px;
    border-top: 5px solid var(--dark);
}
.handle:hover, .handle:hover:before, .handle:hover:after {
    border-color: var(--darker);
}
.handle:active, .handle:active:before, .handle:active:after {
    cursor: grabbing;
}

  .sortableChosen {
  background-color:#BDD7EE;
}

.checkbox:disabled {
    color:#BDD7EE;
}